# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/

# Frontend
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*

# Database Sandbox
querymind_sandbox.db

# Logs & OS Files
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
